.todo-container {
    padding: 70px 0;
    text-align: center;
    border-color: lightcoral;
    border-style: solid;
    background-color: mintcream;
    font-family: 'Sriracha', cursive;
}

h1 {
    color: goldenrod;
}

/* Input Styles */
.add-items {
    font-size: 1.2em;
}

input[type=text] {
    border-color: goldenrod;
    border-style: solid;
    background-color: lightcoral;
    font-size: 1.2em;
    font-family: 'Sriracha', cursive;
}

input::placeholder {
    color: rgb(21, 92, 133);
}

input[type=text] {
    color: rgb(21, 92, 133);
}

.save-btn {
    margin-left: 10px;
    color:  rgb(21, 92, 133);
    border-color: goldenrod;
    background-color: lightcoral;
    font-size: 1.2em;
    border-style: solid;
    font-family: 'Sriracha', cursive;
}

/* List Styles */
#todo.tasks{
    vertical-align: middle;
    display: inline-block;
    text-align: left;
    margin:0 auto;
}

li {
    color: lightcoral;
}

li button {
    border-style: solid;
    background-color: lightcoral;
    color: goldenrod;
    border-color:goldenrod;
    margin-left: 10px;
}